@model WebApplication2.Models.Class


@*@using (Html.BeginForm("Edit", "Class", FormMethod.Post, new  {  }))
{
    <p>課號<input type="text" value="@Model.ClassID" /></p>
    <p>課名<input type="text" value="@Model.ClassName" /></p>
    <p>學分數<input type="text" value="@Model.Credit" /></p>
    <p>講師<input type="text" value="@Model.Teacher" /></p>
    <p>上課地點<input type="text" value="@Model.Location" /></p>
    <a href="@Url.Action("Edit", "Class", new{ model=Model})" data-form-method="post">儲存</a>
}*@


