
@model WebApplication2.Models.ClassViewModel
<p></p>
@if (Model.ClassDetail != null)
{
    Html.RenderPartial("Edit", Model.ClassDetail);
}
else
{
    Html.RenderAction("Create", "Class");
}

<table class="table">
    <thead>
        <tr>
            <th>課號</th>
            <th>課名</th>
            <th>學分數</th>
            <th>講師</th>
            <th>上課地點</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClassList)
        {
            <tr>
                <td>@item.ClassID</td>
                <td>@item.ClassName</td>
                <td>@item.Credit</td>
                <td>@item.Teacher</td>
                <td>@item.Location</td>
                <td>
                    <input id="btnDelete" onclick="location.href='@Url.Action("Delete", "Class", new { classId = item.ClassID })'" type="button" value="刪除" />
                    <input id="btnEdit" onclick="location.href='@Url.Action("Edit", "Class", new { classId = item.ClassID })'" type="button" value="編輯" />
                </td>
            </tr>
        }
    </tbody>
</table>

