@model WebApplication2.Models.StudentViewModel

<p></p>
@if (Model.Student != null)
{
    Html.RenderPartial("Edit", Model.Student);
}
else
{
    Html.RenderAction("Create", "Student");
}
<table class="table">
    <thead>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>生日</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentList)
        {
            <tr>
                <td>@item.StudentID</td>
                <td>@item.Name</td>
                <td>@Convert.ToDateTime(item.Birthday).ToString("yyyy-MM-dd")</td>
                <td>@item.Email</td>
                <td>
                <td>
                    <input id="btnDelete" onclick="location.href='@Url.Action("Delete", "Student", new { studentId = item.StudentID })'" type="button" value="刪除" />
                    <input id="btnEdit" onclick="location.href='@Url.Action("Edit", "Student", new { studentId = item.StudentID })'" type="button" value="編輯" />
                </td>
            </tr>
        }
    </tbody>
</table>




